.copy {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c d";

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
      font-family: "Fraunces", serif;
      font-weight: 900;
      color: var(--very-dark-desaturated-blue);

      font-size: 40px;
      line-height: 50px;

      margin-bottom: 32px;
    }

    p {
      color: var(--dark-grayish-blue);
      font-size: 18px;
      line-height: 30px;

      margin-bottom: 44px;
    }

    button {
      font-family: "Fraunces", serif;
      font-weight: 900;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 1px;
      height: 20px;

      border: none;
      color: var(--very-dark-desaturated-blue);
      background-color: transparent;
      position: relative;

      font-size: 16px;
      line-height: 16px;

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        z-index: -1;

        opacity: 0.4;
        filter: blur(1px);

        width: 115%;
        height: 10px;
        border-radius: 5px;
        background-color: var(--egg);

        transition-property: opacity, filter;
        transition-timing-function: ease-in-out;
        transition-duration: 0.2s;
      }

      &:hover::after {
        opacity: 1;
        filter: blur(0);
      }
    }

    &:first-child {
      padding: 120px 100px 120px 164px;
    }
    &.audience {
      grid-area: d;
      padding: 120px 164px 120px 110px;

      button::after {
        background-color: var(--cup);
      }
    }
  }

  .img {
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }

    .transform {
      background-color: var(--egg);
    }
    .stand {
      background-color: var(--cup);
      grid-area: c;
    }
  }
}

@media screen and (max-width: 1200px) {
  .copy {
    .text {
      &:first-child {
        padding: 120px 100px 120px 100px;
      }
      &.audience {
        padding: 120px 100px 120px 110px;
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  .copy {
    .text {
      &:first-child {
        padding: 100px 80px 100px 80px;
      }
      &.audience {
        padding: 100px 80px 100px 80px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .copy {
    .text {
      h2 {
        font-size: 34px;
        line-height: 40px;

        margin-bottom: 32px;
      }

      &:first-child {
        padding: 90px 70px 90px 70px;
      }
      &.audience {
        padding: 90px 70px 90px 70px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .copy {
    grid-template-columns: 1fr;
    grid-template-areas: none;

    .text {
      text-align: center;
      height: 600px;
      width: 60%;
      margin: 0 auto;

      h2 {
        font-size: 32px;
        line-height: 38px;
        width: 100%;

        margin-bottom: 26px;
      }

      p {
        margin-bottom: 34px;
      }

      button {
        margin-bottom: 3px;
        margin-right: auto;
        margin-left: auto;
      }

      &:first-child {
        padding: 4rem 1rem;
        grid-area: initial;
        grid-row-start: 2;
      }
      &.audience {
        padding: 4rem 2rem;
        grid-area: initial;
        grid-row-start: 4;
      }
    }

    .img {
      height: 600px;
      background-size: contain;

      .transform {
        grid-area: initial;
        grid-row-start: 1;
      }

      .stand {
        grid-area: initial;
        grid-row-start: 3;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .copy {
    .text {
      height: 500px;
      width: 80%;
    }
    .img {
      height: 500px;
    }
  }
}

@media screen and (max-width: 500px) {
  .copy {
    .text {
      height: 400px;
      width: 100%;
    }
    .img {
      height: 312px;
    }
  }
}
@media screen and (max-width: 370px) {
  .copy {
    .text {
      height: max-content;
      width: 100%;
    }
    .img {
      height: 312px;
    }
  }
}
